* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  overflow: hidden;
  background-image: url('images/3_lighter2.jpg');
  background-repeat: repeat;
  /*counter-reset: section;*/
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-gap: 0px;
  background-color: #fff;
  color: #444;
  position: absolute;
  height: 85%;
  width: 99%;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 60%;
  border: none;
}

.set {
  background-color: lightblue;
  outline: 3px solid black;
  color: black;
}

.fork {
  background-color: green;
  outline: 3px solid black;
  color: black;
}

.plaza {
  background-color: orange;
  outline: 3px solid black;
  color: black;
}

.plazaEdge {
  background-color: grey;
  outline: 3px solid black;
  color: black;
}

.disabled {
  background-color: red;
  outline: 3px solid black;
  color: black;
}

.waypoint {
  background-color: green;
}

.destination {
  background-color: rebeccapurple;
}

button {
  font-size: 22px;
  height: 30px;
}

span {
  font-size: 14px;
}

#dataWrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  font-size: 16px;
  margin-bottom: 10px;
}

#predefWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
  font-size: 16px;
  margin-bottom: 10px;
}

#dataWrapper span {
  font-weight: bold;
  font-size: 16px;
}

.dottedBorder {
  background-color: red;
}

.isPath {
  background-color: lightgreen;
}
